<header>
    <NavLink Href="/dashboard">Dashboard</NavLink>
    <span>&nbsp;|&nbsp;</span>
    <NavLink Href="/shop">Shop</NavLink>
    <div style="flex-grow: 1;"></div>
    <button @onclick=SwitchCartDirection>switch</button>
    <div style="flex-grow: 1;"></div>
    <GreenCart ShowCartTextLeft=@_showCartTextLeft />
    <RedCart ShowCartTextLeft=@_showCartTextLeft />
</header>

@code{
    private bool _showCartTextLeft = true;

    private void SwitchCartDirection(){
        _showCartTextLeft = !_showCartTextLeft;
    }
}