@page "/"
@page "/dashboard"
@namespace LayoutPilet

<h1>Dashboard</h1>
<div class="dashboard">
    <DemoDashboardExtension />
    <GreenCartDashboardExtension />
    <RedCartDashboardExtension />
</div>